<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <span ng-show='signupForm.username.$error.invalidCharacters'>Needs to be an alphanumeric character</span>
    <span ng-show='signupForm.username.$error.minlength'>Username must contain 3 or more characters</span>
    <input validate-user ng-minlength='3'type='text' ng-model='user.username' name= 'username'>
    <input type="password" ng-model='user.password'>
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
